
h1{
    text-align: center;
}



div.card{
    display: inline-block;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height:100px;
  
    
}

div#c1{
    background-image: url('images/logo_ml.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    

    
}


div#c2{
    background-image: url('images/logo_shopee.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
   
}

div#c3{
    background-image: url('images/logo_amazon.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
  
}

div#c4{
    background-image: url('images/logo_ame.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
div#c5{
    background-image: url('images/logo_magalu.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
div#c6{
    background-image: url('images/logo_viavarejo.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
div#c7{
    background-image: url('images/logo_rd.jpeg');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}
div#c8{
    background-image: url('images/logo_madeiramadeira.png');
    background-size: 80px;
    background-position: center center;
    background-repeat: no-repeat;
}



